anyio==4.14.1
asgiref==3.12.1
blinker==1.9.0
cachetools==7.1.4
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
Django==5.2.16
django-auditlog==3.4.1
django-cors-headers==4.9.0
django-jazzmin==3.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
h11==0.16.0
huggingface-hub==0.34.4
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==12.1.1
python-dateutil==2.9.0.post0
python-multipart==0.0.32
pytz==2026.3.post1
PyYAML==6.0.2
qrcode==8.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.14.1
tzdata==2026.1
urllib3==2.5.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
gunicorn==22.0.0
